Enter your url
<form action='/save-bookmark' method='post'>
<label for="title">Title:</label><br>
<input type='text' name='title'><br>
<label for="url">URL:</label><br>
<input type='text' name='url'><br>
<input type='submit' value='Submit'>
</form>